.navbar {
  position: relative;
  z-index: 200;

  .navbarNavigation {
    display: flex;

    .navbarNavigationLeft {
      width: 50vw;
      height: 100vh;
      background-color: $color-dark;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

      .leftImg {
        width: 50%;
        position: absolute;
        border-radius: 0.5rem;
        box-shadow: 0 1rem 4rem rgba($color-black, 0.4);
        opacity: 0.8;
      }

      .leftImgOne {
        top: 15%;
        left: 15%;
      }

      .leftImgTwo {
        top: 35%;
        left: 25%;
      }

      .leftImgThree {
        top: 55%;
        left: 35%;
      }
    }

    .navbarNavigationRight {
      @include flexLayout(center, center, row);
      width: 50vw;
      height: 100vh;
      background-color: #1f1f1d;
      position: fixed;
      right: -50vw;
      transition: right 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

      .navList {
        .navListItem {
          list-style: none;
          margin: 1rem 0;
          cursor: pointer;
          text-align: center;

          .navListItemLink {
            @include textStyles;
            font-family: $font-greatVibes;
            font-size: 2rem;
            color: $color-secondary;
            text-decoration: none;
            transition: all 0.7s;

            &:hover {
              color: $color-primary;
              letter-spacing: 0.2rem;
            }
          }
        }
      }
    }
  }
}

.checkbox:checked ~ .navbarNavigation .navbarNavigationLeft {
  left: 0;
}

.checkbox:checked ~ .navbarNavigation .navbarNavigationRight {
  right: 0;
}

.checkbox:checked ~ .hamburgerMenu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburgerMenu .menuLineOne {
  transform: rotateZ(-45deg);
}

.checkbox:checked ~ .hamburgerMenu .menuLineTwo {
  opacity: 0;
}

.checkbox:checked ~ .hamburgerMenu .menuLineThree {
  transform: rotateZ(45deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;

  background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
    url(../../public/images/bg.jpeg) no-repeat center;
  background-size: cover;

  .brand {
    color: $color-white;

    @include flexLayout(center, center, row);
    @include centering(15%);
  }

  .headerBanner {
    @include centering(50%);
    text-align: center;
    color: $color-white;
  }
}

.aboutUs {
  padding: 2rem 0;
  @include flexLayout(center, center, row);

  .aboutUsLeft {
    flex: 1;
    @include flexLayout(center, center, row);
    img {
      width: 80%;
    }
  }

  .aboutUsRight {
    flex: 1;

    @include flexLayout(center, center, column);

    .stars {
      margin: 2rem 0;

      .star {
        font-size: 1.2rem;
        color: $color-primary;
        margin-left: 0.6rem;
      }
    }

    .description {
      font-family: $font-josefinSans;
      color: $color-secondary;
      font-size: 1.2rem;
      font-style: italic;
      text-align: justify;
      font-weight: 300;
      width: 90%;
      line-height: 1.8;
      padding: 0 2rem;

      &::first-letter {
        padding-left: 3rem;
        font-size: 2rem;
      }
    }
  }
}

.gallery {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.footer {
  @include flexLayout(center, center, column);
  padding: 4rem 0;

  .footerHeader {
    @include flexLayout(center, center, row);
    margin-bottom: 3rem;
  }

  .footerSocialMedia {
    width: 25%;
    margin-bottom: 3rem;

    .socialMedia {
      @include flexLayout(space-between, center, row);
      width: 100%;
      list-style: none;

      .socialMediaLink {
        text-decoration: none;
        font-size: 3rem;
        color: $color-secondary;
        transition: color 0.7s;

        &:hover {
          cursor: pointer;
          color: $color-primary;
        }
      }
    }
  }

  .footerCopyrightText {
    @include textStyles;
    font-family: $font-josefinSans;
    color: $color-secondary;
    font-size: 1rem;
  }
}
